
.form-group{ margin-left: 0 !important; margin-right: 0 !important; cursor: pointer;}
a:link{ outline: none;}
li{ list-style: none;}
.control-label{ cursor:move;  }
.placeHolder div { background-color:white!important; border:dashed 1px gray !important; min-height: 30px; }

.upload_form{margin-top: 20px;}
.table_form{margin-top: 20px;}
.table_form label{ cursor:move;}
.form-ul{ margin-top: 20px;}
.resumable-progress{ display: none; }

