

.row .titles{ padding-left:15px;}


.index_sub a{ display:block; margin:0 auto; color:#000;font-size:12px; padding: 4px;}


.index_sub_img{  position: relative; max-width: 290px; margin: 0 auto;}

.index_sub_img a img{ color:#000;  max-width: 100%; }


.index_sub_img .title{position: absolute; bottom: 0; left: 0; right: 0;width: 100%; z-index:4; color:#fff; background: #000;
	opacity: 0.5;
	position: absolute; }
.index_sub_img .title h3{ margin:8px 0; font-size:1.1em;}
.index_sub_img .title h3 a{ color:#fff;}
.index_sub_img  .background {
    background: #000;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 2;  left:0; bottom:0; right: 0; min-height:40px;
}